@import './_demo-theme.less';

.demo-button-tsx {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  padding: 16px;

  &__text {
    width: 100%;
    margin-top: 8px;
    color: @demo-primary;
    font-size: 14px;
  }
}
